table{
    text-align: center;
    color:#090708;
    border:2px solid #056498;
}
tr{
border:2px solid #62466B;    
}
tr{
  border:2px solid #62466B; 
}
ul{
    list-style-type: circle;
    list-style-type:square;
}

}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

a:hover{
    color: #9585ef;
}

a:active{
    color:burlywood;
}

a:visited{
    color: darkgreen;
}

a:link{
    color: darkorange;
}

#espnlogo{
    width: 30px;
    height:30px;
    float:right;
}


 div {
    display: block;
}



    