table{
    text-align: center;
        color:#090708;
    border:2px solid #090708;
}
tr{
border:2px solid #62466B;    
}
tr{
  border:2px solid #62466B; 
}
ul{
    list-style-type: circle;
    list-style-type:square;
}
#logo{
width:80px;
    height:80px;
    
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


body {
    background-color:#778899;
}












































































